<h1>Details of Cocktail</h1>


<p><%= @cocktail.name %></p>

<% ingredients = @cocktail.ingredients %>
<% ingredients.each do |ingredient| %>
<%= ingredient.name %>
<% end %>

<%= link_to "Add a dose", ""  %>

